html {
  font-family: Helvetica, sans-serif;
}

.heading {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.sh_brushes{
  background-color: mediumspringgreen;
}

.sh_frames {
  background-color: lightcoral;
}

.sh_paint {
  background-color: skyblue;
}

.price {
  font-weight: bold;
  color: blue;
}
